<mat-toolbar color="primary" class="app-toolbar">
    <a routerLink="/dashboard" class="logo">🌱 CyAgro</a>
    <span class="spacer"></span>
  
    <a mat-button routerLink="/dashboard" routerLinkActive="active-link">
      <mat-icon>dashboard</mat-icon>
      <span>Αρχική</span>
    </a>
    <a mat-button routerLink="/groups" routerLinkActive="active-link">
      <mat-icon>eco</mat-icon>
      <span>Ομάδες</span>
    </a>
    <a mat-button routerLink="/cultivations" routerLinkActive="active-link">
      <mat-icon>agriculture</mat-icon>
      <span>Καλλιέργειες</span>
    </a>
    <a mat-button routerLink="/varieties" routerLinkActive="active-link">
      <mat-icon>local_florist</mat-icon>
      <span>Ποικιλίες</span>
    </a>
    <a mat-button routerLink="/harmful-causes" routerLinkActive="active-link">
      <mat-icon>bug_report</mat-icon>
      <span>Ζημιογόνα</span>
    </a>
  
    <button mat-stroked-button color="accent" (click)="logout()" class="logout-btn">
      <mat-icon>logout</mat-icon>
      <span>Έξοδος</span>
    </button>
  </mat-toolbar>
  
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
  